* {
   font-size : 1em;
   margin    : 0;
   padding   : 0;
}

code, pre {
   background-color : #fbfbdc;
   border-radius    : 2px;
   font-family      : monospace, monospace;
   white-space      : pre;
}

pre {
   line-height   : normal;
   margin        : 1em 0;
   padding       : 0.25em 1em;
}

body {
   background-color : #f4f4f4;
   color            : #403025;
   font-family      : sans-serif;
   font-size        : 1em;
   line-height      : 1.5em;
   margin           : 0;
   padding          : 0 5em 0 5em;
}

a {
   color : #445464;
}

div.header {
   border-bottom : 2px solid #ccc;
   clear         : both;
   margin-bottom : 2em;
   padding       : 1em 0;
}

div.header h1, div.header h2 {
   float          : left;
   letter-spacing : 0.05em;
}

div.header h1 {
   font-size : 2em;
}

div.header h2 {
   font-size : 1.25em;
   padding   : 0.75em 0 0 1em;
}

div.header div {
   clear : both;
}

div.menu {
   border        : 1px solid #ccc;
   border-radius : 2px;
   float         : left;
   padding       : 1em 0 0 0;
   width         : 11em;
}

div.menu ul {
   font-weight     : bold;
   list-style-type : none;
   margin-bottom   : 1em;
}

div.menu a, div.menu span {
   display         : block;
   padding         : 0 1em;
   text-decoration : none;
}

div.menu ul ul a {
   padding : 0 2em;
}

div.menu ul ul ul a {
   padding : 0 3em;
}

div.menu a.a2 {
   background-color : #ddd;
}

div.menu a:hover {
   background-color : #ccc;
}

div.content {
   margin-left : 13em;
}

div.article h1 {
   border-bottom : 1px solid #445464;
   display       : block;
   font-size     : 1.5em;
   margin-bottom : 1em;
}

div.article h1 a {
   text-decoration : none;
}

div.article h2 {
   font-size     : 1.33em;
   margin-bottom : 1em;
   margin-top    : 2em;
}

div.article h3 {
   font-size     : 1.1em;
   margin-bottom : 1em;
   margin-top    : 2em;
}

div.article p, div.article table {
   margin-bottom : 1em;
}

div.article p  > code,
div.article td > code,
div.article h2 > code,
div.article h3 > code {
   padding : 0 4px;
}

div.meta {
   border-top    : 1px solid #ccc;
   font-size     : 0.75em;
   margin        : 2em 0;
   text-align    : right;
}

div.meta a {
   text-decoration : none;
}

div.pagenav {
   border-top : 2px solid #ccc;
   padding    : 1em 0;
   text-align : center;
}

div.pagenav span, div.pagenav a {
   margin : 0 5em;
}

td {
   padding-left : 1em;
}

td:first-child {
   padding-left : 0;
}

td:first-child code {
   display : block;
}

body.multiple a.footnote, body.multiple div.footnotes {
   display : none;
}

a.footnote {
   font-size       : 0.7em;
   text-decoration : none;
   vertical-align  : super;
}

div.footnotes hr {
   border     : none;
   border-top : 1px dotted #000;
   margin     : 1em 0;
}

a.reversefootnote {
   display : none;
}

/* :indentSize=3:tabSize=3:noTabs=true:mode=css:maxLineLen=100: */
